<img src="img/logo_FAO.png">

*L’Organisation pour l’alimentation et l’agriculture (FAO) est l’agence spécialisée des Nations Unies qui mène les efforts internationaux vers l’élimination de la faim. Son objectif est d’atteindre la sécurité alimentaire pour tous et d’assurer un accès régulier et suffisant à une nourriture de bonne qualité permettant à tous, de mener une vie saine et active. Avec 195 membres - 194 pays et l'Union européenne, la FAO est active dans 130 pays à travers le monde.*

*Dans le présent rapport je vais vous présenter le nettoyage des données sur la sous-nutrition dans le monde depuis 2013.*

# Chargement des librairies

In [1]:
import numpy as np
import pandas as pd

print("Version numpy : " + np.__version__)
print("Version pandas : " + pd.__version__)

chemin_aide_alim = 'src/aide_alimentaire.csv'
chemin_dispo_alim = 'src/dispo_alimentaire.csv'
chemin_pop = 'src/population.csv'
chemin_sous_nut = 'src/sous_nutrition.csv'
chemin_iso = 'src/iso_gouv.csv'

Version numpy : 1.23.5
Version pandas : 1.4.4

# Chargement des fichiers .csv

In [2]:
aide_alim = pd.read_csv(chemin_aide_alim)
dispo_alim = pd.read_csv(chemin_dispo_alim)
population = pd.read_csv(chemin_pop)
sous_nutrition = pd.read_csv(chemin_sous_nut)
iso = pd.read_csv(chemin_iso, sep=";")

# **Sous-nutrition**

## Remplacement des valeurs NaN par 0

In [3]:
sous_nutrition = sous_nutrition.replace(np.nan, 0)

In [4]:
sous_nutrition.sample(5)

                           Zone      Année Valeur
1057                     Soudan  2013-2015    5.1
130                       Bénin  2016-2018    0.8
901   République arabe syrienne  2013-2015      0
1200                      Yémen  2012-2014      0
151          Bosnie-Herzégovine  2013-2015      0

## Changement du format en float (colonne "Valeur")

In [5]:
sous_nutrition['Valeur'] = sous_nutrition['Valeur'].replace('<0.1', 0)

In [6]:
sous_nutrition['Valeur'] = sous_nutrition['Valeur'].astype('float')

In [7]:
sous_nutrition.dtypes

Zone       object
Année      object
Valeur    float64
dtype: object

## Mise en commun des échelles

In [8]:
sous_nutrition['Valeur'] = sous_nutrition['Valeur'] * 1000000

In [9]:
sous_nutrition.sample(5)

            Zone      Année     Valeur
380        Fidji  2014-2016        0.0
850     Paraguay  2016-2018   600000.0
1115   Thaïlande  2017-2019  6500000.0
572   Kazakhstan  2014-2016        0.0
631     Lituanie  2013-2015        0.0

## Mise en commun des années

In [10]:
sous_nutrition['Année'].unique()

array(['2012-2014', '2013-2015', '2014-2016', '2015-2017', '2016-2018',
       '2017-2019'], dtype=object)

In [11]:
sous_nutrition["Année"] = sous_nutrition["Année"].replace("2012-2014", 2013).replace("2013-2015", 2014).replace("2014-2016", 2015).replace("2015-2017", 2016).replace("2016-2018", 2017).replace("2017-2019", 2018)

In [12]:
sous_nutrition['Année'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018])

In [13]:
sous_nutrition['Année'].dtypes

dtype('int64')

In [14]:
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   int64
 2   Valeur  1218 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ KB

## Au vu des futures jointures renommage des colonnes en noms uniques

In [15]:
sous_nutrition.rename(columns = {'Valeur': 'Population en sous-nutrition'}, inplace=True)

In [16]:
sous_nutrition.sample(5)

           Zone  Année  Population en sous-nutrition
590    Kiribati   2015                           0.0
555    Jamaïque   2016                      300000.0
716    Mongolie   2015                      600000.0
193  Cabo Verde   2014                           0.0
542      Israël   2015                           0.0

# **Population**

## Mise en commun des échelles

In [17]:
population['Valeur'] = population['Valeur'] * 1000

In [18]:
population.sample(5)

              Zone  Année       Valeur
917        Nigéria   2018  195874683.0
1142  Sainte-Lucie   2015     179126.0
66       Argentine   2013   42196030.0
683       Jordanie   2018    9965318.0
100    Azerbaïdjan   2017    9845320.0

## Au vu des futures jointures renommage des colonnes en noms uniques

In [19]:
population.rename(columns = {'Valeur': 'Population'}, inplace=True)

In [20]:
population.sample(5)

           Zone  Année  Population
487   Guatemala   2014  15923236.0
1241  Slovaquie   2018   5453014.0
458       Grèce   2015  10659750.0
447       Ghana   2016  28481945.0
66    Argentine   2013  42196030.0

## Au vu des futures jointures renommage des valeurs

In [21]:
population['Zone'] = population['Zone'].replace("Chine - RAS de Hong-Kong", "Hong Kong")
population['Zone'] = population['Zone'].replace("Chine - RAS de Macao", "Macao")
population['Zone'] = population['Zone'].replace("Saint-Vincent-et-les Grenadines", "Saint-Vincent-et-les-Grenadines")

# **Dispo alimentaire**

## Remplacement des valeurs NaN par 0

In [22]:
dispo_alim = dispo_alim.replace(np.nan, 0)

In [23]:
dispo_alim.sample(5)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
11551,Rwanda,Avoine,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8562,Maldives,Millet,vegetale,0.0,0.0,6.0,0.71,0.02,0.11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10051,Nouvelle-Calédonie,Viande de Bovins,animale,0.0,3.0,85.0,16.07,6.26,6.65,7.0,0.0,3.0,4.0,0.0,3.0,0.0,0.0,0.0
8756,Malte,Piments,vegetale,0.0,0.0,0.0,0.04,0.02,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10100,Nouvelle-Zélande,Huile de Tournesol,vegetale,0.0,6.0,27.0,1.12,3.08,0.00,11.0,1.0,12.0,5.0,0.0,0.0,0.0,0.0,0.0

## Au vu des futures jointures renommage des valeurs

In [24]:
dispo_alim['Zone'] = dispo_alim['Zone'].replace("Chine - RAS de Hong-Kong", "Hong Kong")
dispo_alim['Zone'] = dispo_alim['Zone'].replace("Chine - RAS de Macao", "Macao")
dispo_alim['Zone'] = dispo_alim['Zone'].replace("Royaume-Uni", "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord")
dispo_alim['Zone'] = dispo_alim['Zone'].replace("Saint-Vincent-et-les Grenadines", "Saint-Vincent-et-les-Grenadines")
dispo_alim['Zone'] = dispo_alim['Zone'].replace("Tchéquie (la)", "Tchéquie")

## Mise en commun des échelles

In [25]:
col = ['Aliments pour animaux', 'Autres Utilisations', 'Disponibilité intérieure', 'Exportations - Quantité', 
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production', 'Semences', 
       'Traitement', 
       'Variation de stock']

for i in col:
    dispo_alim[[i]] = dispo_alim[[i]] * 1000000
    
# dispo_alim[col] = dispo_alim[col].apply(lambda x: x * 1000000)

In [26]:
dispo_alim.head(5)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

# **Aide alimentaire**

## Mise en commun des échelles

In [27]:
aide_alim['Valeur'] = aide_alim['Valeur'] * 1000

In [28]:
aide_alim.sample(5)

,Pays bénéficiaire,Année,Produit,Valeur
1381,Tchad,2015,"Fruits secs, total",90000
585,Iran (République islamique d'),2016,"Sucre, total",50000
1385,Tchad,2016,Huiles végétales,1216000
160,Burundi,2015,Mélanges et préparations,4903000
1015,République arabe syrienne,2015,Céréales,181475000

## Pour une meilleure lisibilité renommage de la colonne "Valeur" en "Quantité"

In [29]:
aide_alim.rename(columns = {'Valeur': 'Quantité'}, inplace=True)

In [30]:
aide_alim.sample(5)

     Pays bénéficiaire  Année                   Produit  Quantité
947           Pakistan   2014       Autres non-céréales    530000
1443             Yémen   2015              Poiss&produi    232000
2          Afghanistan   2013              Blé et Farin  39224000
938            Ouganda   2015  Légumineuses Sèches,Tot.   1105000
906              Niger   2013          Huiles végétales   1351000

## Au vu des futures jointures renommage des colonnes en noms uniques

In [31]:
aide_alim.rename(columns = {'Pays bénéficiaire': 'Zone'}, inplace=True)

## Au vu des futures jointures renommage des valeurs

In [32]:
aide_alim['Zone'] = aide_alim['Zone'].replace('Swaziland', 'Eswatini')

# **Fichier pays ISO**

## Au vu des futures jointures renommage des valeurs

In [33]:
iso['NOM'] = iso['NOM'].replace('Taiwan', 'Chine, Taiwan Province de')
iso['NOM'] = iso['NOM'].replace('Chine', 'Chine, continentale')

## Au vu des futures jointures renommage des colonnes en noms uniques

In [34]:
iso.rename(columns = {'NOM': 'Zone'}, inplace=True)

## Au vu des futures jointures rajout de valeurs

In [35]:
new_elements = [('Bermudes', 'BMU'), ("Hong Kong", "HKG"), ("Macao", "MAC"), ("Saint-Kitts-et-Nevis", 'KNA')]
new_iso_data = pd.DataFrame(new_elements, columns = ['Zone' , 'CODE'])
iso = pd.concat([iso, new_iso_data])

# **Exportation des fichiers nettoyés vers un nouveau CSV**

In [36]:
aide_alim.to_csv('src/aide_alimentaire_cleaned.csv', index=False) 
dispo_alim.to_csv('src/dispo_alimentaire_cleaned.csv', index=False) 
population.to_csv('src/population_cleaned.csv', index=False) 
sous_nutrition.to_csv('src/sous_nutrition_cleaned.csv', index=False)
iso.to_csv('src/iso_gouv_cleaned.csv', index=False)
print("Exportation terminée")

Exportation terminée